<form action="/task" method="POST" class="hide">
  <input type="hidden" name="listId" value="{{id}}">
  <input type="hidden" name="userId" value="{{../userId}}">
  <textarea name="task" placeholder="Add item" class="item-to-add" warp="soft" autofocus></textarea>
  <div class="add-form-btns">
    <button type="submit" class="add-btn btn">Add</button>
    <button class="exit-btn" id="exit-add-form"><i class="fa fa-times"></i></button>
  </div>
</form>

<!-- OR -->

<form action="/task/{{id}}?_method=put" method="POST" class="edit-form hide">
  <input type="hidden" name="userId" value="{{../../userId}}">
  <textarea name="task" autocomplete="off" wrap="soft" autofocus>{{task}}</textarea>
  <div class="edit-form-btns">
    <button type="submit" class="btn save-btn">Save</button>
    <button class="exit-btn" id="exit-edit-form"><i class="fa fa-times"></i></button>
  </div>
</form>
